<div id="login" class="container p-3 my-3 border">
    <h1>Login</h1>
    <div class="container card ">
        <div class="card-body">
            <form class="" action="/login" method="POST">
                <label for="UserName">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email " name="userId">

                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
            </form>
        </div>
    </div>
</div>