<div id="top" class="container">
<h1>Welcome to Hotel Magic Booking</h1>
<div class="topnav">
    <a href="#" routerLink="/home" routerLinkActive="active">Home</a>
    <a href="#" routerLink="/rooms" routerLinkActive="active">Room Details</a>
    <a href="#" routerLink="/registration-form" routerLinkActive="active">Register</a>
    <a href="#" routerLink="/customer" routerLinkActive="active">Customer Details</a>
    <a href="#" routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</div>