body { font-family: Helvetica, Arial, sans-serif;
       background-color:  #a8a093 ;

}

#header { font-family:Helvetica, Arial, sans-serif;
		  background-color: #674172;
          color: whitesmoke  ; 
          font-size: 500%; 
          padding: 25px;
          background-repeat: no-repeat;
}

#wrapper { background-color: black; 
           color: black;
           width: 80%;
		   margin: auto;
           min-width:850px;
} 

#container { background-color: #a8a093; 
           color: black;
           width: 80%;
		   margin: auto;
           min-width:850px;
} 



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

  .column {
    width: 100%;
    max-width:500px;
    align-self: center;
  }

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#footer
{

}