<body>
<div id="header">
    <h1>Experience our magical place</h1>
</div>


<div class="row">
  <div class="column">
    <h2><a href="#" routerLink="/rooms" routerLinkActive="active">New York, USA</a></h2>
        <img width="500" src="https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg">
    <p>20 rooms left!</p>
  </div>
  
  <div class="column">
    <h2><a href="#" routerLink="/rooms" routerLinkActive="active">Berlin, Germany</a></h2>
    <img width="500" src="https://www.commonwealthfund.org/sites/default/files/styles/countries_hero_desktop/public/country_image_Germany.jpg?h=b11ddda9&itok=6Fjm8omH">
    <p>4 rooms left!</p>
  </div>
  
  <div class="column">
    <h2><a href="#" routerLink="/rooms" routerLinkActive="active">Paris, France</a></h2>
<img width="500" alt="this is what alt text looks like" src="https://static.independent.co.uk/2021/03/11/13/iStock-1185953092.jpg?width=990&auto=webp&quality=75">
<p>3 rooms left!</p>
  </div>

</div>

<div class="row">
  <div class="column">
    <h2><a href="#" routerLink="/rooms" routerLinkActive="active">Amritsar, India</a></h2>
        <img width="500" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Sikh_pilgrim_at_the_Golden_Temple_%28Harmandir_Sahib%29_in_Amritsar%2C_India.jpg">
    <p>7 rooms left!</p>
  </div>
  
  <div class="column">
    <h2><a href="#" routerLink="/rooms" routerLinkActive="active">Kyoto, Japan</a></h2>
    <img width="500" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Kongobuji_Koyasan07n3200.jpg/1920px-Kongobuji_Koyasan07n3200.jpg">
    <p>13 rooms left!</p>
  </div>
  
  <div class="column">
    <h2><a href="#" routerLink="/rooms" routerLinkActive="active">Cancun, Mexico</a></h2>
<img width="500" alt="this is what alt text looks like" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Cancun_aerial_photo_by_safa.jpg">
<p>3 rooms left!</p>
  </div>

</div>

  
